In [7]:
import pandas as pd
import numpy as np
import sqlite3
import math

In [9]:
conn = sqlite3.connect(r'C:\Temp\loc_post.db')
cursor = conn.cursor()

In [10]:
df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
df.columns
conn.close()

In [ ]:
del df['index']
# df

df = df.set_index('officeName')

# df.columns
df

df_c = pd.DataFrame(columns=['officeName','dist'])
df_c = df_c.set_index('officeName')

df.columns
df_c.columns
df.index
df_c.index

In [11]:
wofficeName = df.index[0]
wofficeName
type(wofficeName)

str

In [12]:
df.loc[wofficeName : wofficeName]

                      address   latitude   longitude nearestBranch nrstBrDist
officeName
가남우체국       경기 여주시 가남읍 태평로 29  37.201739  127.545135          None       None

In [13]:
wlat = df.loc[wofficeName]['latitude']
wlon = df.loc[wofficeName]['longitude']
print(wofficeName, wlat, wlon)
type(wlat)
type(wlon)

가남우체국 37.2017393 127.5451354

numpy.float64

In [14]:
df = df.drop(wofficeName)

In [15]:
df.head(3)

,address,latitude,longitude,nearestBranch,nrstBrDist
officeName,,,,,
가정행정법원출장소,서울특별시 서초구 강남대로 193 (양재동),37.473862,127.030459,None,None
가평북면우체국,경기 가평군 북면 가화로 967 (북면우체국),37.882173,127.547377,None,None
가평우체국,경기 가평군 가평읍 보납로 2 (가평우체국),37.831068,127.510743,None,None

In [16]:
print(wofficeName)

가남우체국

In [17]:
baseLat = 110979.309
baseLon = 88907.949

In [305]:
df_c

Empty DataFrame
Columns: [dist]
Index: []

In [18]:
for i in df.index:
#     print(i)
#     print(df.loc[i]['latitude'])
        df_c.loc[i] =  math.sqrt(  (abs(df.loc[i]['latitude'] - wlat)*baseLat)**2 + (abs(df.loc[i]['longitude'] - wlon)*baseLon)**2  )

In [34]:
#df_c

In [336]:
# df_c['dist']

In [20]:
minDist = df_c.min()
select_indices = list(np.where(df_c['dist'] == minDist[0]))
print(select_indices[0])
print(select_indices)
minDistOffice = df_c.index[select_indices[0]]

[523]
[array([523], dtype=int64)]

In [21]:
print(minDist[0])

6808.787204308148

In [22]:
print(wofficeName)

가남우체국

In [23]:
print(minDistOffice[0])

이천모가(취)

In [25]:
df[minDistOffice[0] : minDistOffice[0]]

,address,latitude,longitude,nearestBranch,nrstBrDist
officeName,,,,,
이천모가(취),경기 이천시 모가면 진상미로 1272-5,37.169686,127.479836,None,None

In [27]:
df[woffinceName : wofficeName] # 삭제 되어 오류 발생

NameError: name 'woffinceName' is not defined

In [28]:
conn = sqlite3.connect(r'C:\Temp\loc_post.db')
cursor = conn.cursor()

In [29]:
print (minDistOffice[0], minDist[0], wofficeName)

이천모가(취) 6808.787204308148 가남우체국

In [31]:
# sql_update = "UPDATE position SET nearestBranch = '이천모가(취)' ,nrstBrDist = 999 where officeName = '가남우체국'"
sql_update = "UPDATE position SET nearestBranch = ?, nrstBrDist = ? where officeName = ?"
cursor.execute(sql_update,(minDistOffice[0], minDist[0], wofficeName))

In [32]:
sql = "select * from position where officeName = '이천모가(취)' or officeName = '가남우체국'"
cursor.execute(sql)
print(cursor.fetchall())

[(0, '가남우체국', '경기 여주시 가남읍 태평로 29', 37.2017393, 127.5451354, '이천모가(취)', 6808.787204308148), (524, '이천모가(취)', '경기 이천시 모가면 진상미로 1272-5', 37.1696861, 127.4798358, None, None)]

In [33]:
conn.commit()
conn.close()

pandas.core.series.Series