In [1]:
import pandas as pd
import numpy as np
import sqlite3
import math
import datetime

In [2]:
print("*"*10, "start of job", "*"*10)
conn = sqlite3.connect(r'C:\Temp\loc_post.db')
df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
cnt = len(df)

********** start of job **********

In [3]:
conn = sqlite3.connect(r'C:\Temp\loc_post.db')
cursor = conn.cursor()

df = pd.read_sql_query("select * from position where nearestBranch is null", conn)

In [4]:
cnt = len(df)
cnt -= 1

conn.close()

In [5]:
del df['index']
df = df.set_index('officeName')
df_N = df

In [6]:
df

,level_0,address,latitude,longitude,nearestBranch2,nrstBrDist2,nearestBranch1,nrstBrDist1,nearestBranch,nrstBrDist
officeName,,,,,,,,,,
가평우체국,3,경기 가평군 가평읍 보납로 2 (가평우체국),37.831068,127.510743,청평우체국,13132.042655,None,None,None,None