In [7]:
import pandas as pd
import numpy as np
import sqlite3
import math

In [8]:
 

print("*"*10, "start of job", "*"*10)
conn = sqlite3.connect(r'C:\Temp\loc_post.db')
df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
cnt = len(df)

********** start of job **********

In [9]:
df

,index,officeName,address,latitude,longitude,nearestBranch2,nrstBrDist2,nearestBranch,nrstBrDist1,check1,nrstBrDist,check
0,3,가평우체국,경기 가평군 가평읍 보납로 2 (가평우체국),37.831068,127.510743,청평우체국,13132.042655,None,None,0,None,None

In [ ]:
conn = sqlite3.connect(r'C:\Temp\loc_post.db')

In [6]:
conn.close()

In [3]:
df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
cnt = len(df)

********** start of job **********

DatabaseError: Execution failed on sql 'select * from position where nearestBranch is null': no such table: position

In [ ]:
while cnt > 1:

        conn = sqlite3.connect(r'C:\Temp\loc_post.db')
        cursor = conn.cursor()

        df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
        cnt = len(df)
        cnt -= 1

        conn.close()

        del df['index']
        df = df.set_index('officeName')
        # df = df.sort_index(ascending=False)
        df = df.values(b='address',ascending=False)