In [17]:
import pandas as pd
import numpy as np
import sqlite3
import math

In [3]:
print("*"*10, "start of job", "*"*10)
conn = sqlite3.connect(r'C:\Temp\loc_post.db')
df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
cnt = len(df)

********** start of job **********

NameError: name 'sqlite3' is not defined

In [ ]:
while cnt > 0:

In [19]:
        df = pd.read_sql_query("select * from position where nearestBranch is null", conn)
        cnt = len(df)
        # conn.close()

In [20]:
        del df['index']
        df = df.set_index('officeName')

In [22]:
        df_c = pd.DataFrame(columns=['officeName','dist'])
        df_c = df_c.set_index('officeName')

In [23]:
        wofficeName = df.index[0]
        wlat = df.loc[wofficeName]['latitude']
        wlon = df.loc[wofficeName]['longitude']
        df = df.drop(wofficeName)

In [24]:
        #단위당 거리(미터)
        baseLat = 110979.309
        baseLon = 88907.949

In [25]:
        for i in df.index:
                df_c.loc[i] =  math.sqrt(  (abs(df.loc[i]['latitude'] - wlat)*baseLat)**2 + (abs(df.loc[i]['longitude'] - wlon)*baseLon)**2  )

In [30]:
        df_c
        minDist = df_c.min()
        select_indices = list(np.where(df_c['dist'] == minDist[0]))

In [31]:
        # print(select_indices[0])
        # print(select_indices)
        minDistOffice = df_c.index[select_indices[0]]
        print(minDist[0])
        print(minDistOffice[0])

6808.787204308148
이천모가(취)

In [32]:
        conn = sqlite3.connect(r'C:\Temp\loc_post.db')
        cursor = conn.cursor()

        sql_update = "UPDATE position SET nearestBranch = ?, nrstBrDist = ? where officeName = ?"
        cursor.execute(sql_update,(minDistOffice[0], minDist[0], wofficeName))
        # update 결과 조회
        # sql = "select * from position where officeName = '이천모가(취)' or officeName = '가남우체국'"
        # cursor.execute(sql)
        # print(cursor.fetchall())

        cnt -= 1

conn.commit()
conn.close()