In [134]:
#%matplotlib tk
#%matplotlib qt5
#%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sqlite3

In [161]:
print("*"*10, "start of job", "*"*11)
conn = sqlite3.connect(r'C:\Temp\loc_post.db')

# zone = "서울지방우정청\'  or Department = \'경인지방우정청"
# zoneName = "Seoul + Kyeongki-Incheon"
# zone = "서울지방우정청"
# zoneName = "Seoul"
# zone = "경인지방우정청"
# zoneName = "Kyeongki-Incheon"
zone = "충청지방우정청"
zoneName = "Chungcheong"
# zone = "강원지방우정청"
# zoneName = "Kangweon"
# zone = "우정공무원교육원"
# zoneName = "Education"

sqlQuery  = "select officeName, latitude, longitude from position \
            where Department = \'"+ zone  + "\'"      
     
            
df = pd.read_sql_query(sqlQuery, conn)
# df = pd.read_sql_query("select officeName, latitude, longitude from position", conn)
 
df = df.set_index('officeName')

********** start of job ***********

In [158]:
# df.loc['백령소청우체국']
# df.loc['백령우체국']
# df.loc['대청우체국']
# df.loc['연평우체국']
# df.loc['덕적우체국']
# df = df.drop('백령소청우체국')
#df = df.drop('백령우체국')
# df = df.drop('대청우체국')
# df = df.drop('연평우체국')
df = df.drop('덕적우체국')

In [162]:
plt.title(zoneName)
plt.scatter(df.longitude, df.latitude,  marker ='.', c='r')
plt.ylabel('Latitude')
plt.xlabel('Longitude')
#plt.legend()
plt.grid(True)
plt.show()
print("*"*10, "end   of job", "*"*11)

********** end   of job ***********

In [106]:
zone = "서울지방우정청\'  or Department = \'경인지방우정청"
zoneName = "Seoul + Kyeongki-Incheon"

# zoneName = "Seoul"
# zone = "경인지방우정청"
# zoneName = "Kyeongki-Incheon"
# zone = "충청지방우정청"
# zoneName = "Chungcheong"
# zone = "강원지방우정청"
# zoneName = "Kangweon"
# zone = "우정공무원교육원"
# zoneName = "Education"

sqlQuery  = "select officeName, latitude, longitude from position \
            where Department = \'"+ zone  + "\'"

In [110]:
# zone = "서울지방우정청\'  or Department = \'경인지방우정청"
# zoneName = "Seoul + Kyeongki-Incheon"
zone = "서울지방우정청"
zoneName = "Seoul"
# zone = "경인지방우정청"
# zoneName = "Kyeongki-Incheon"
# zone = "충청지방우정청"
# zoneName = "Chungcheong"
# zone = "강원지방우정청"
# zoneName = "Kangweon"
# zone = "우정공무원교육원"
# zoneName = "Education"

sqlQuery  = "select officeName, latitude, longitude from position \
            where Department = \'"+ zone  + "\'"

In [113]:
df = pd.read_sql_query(sqlQuery, conn)
df = df.set_index('officeName')

In [131]:

# df = df.drop('국제우편물류센터')
df.loc['국제우편물류센터']

KeyError: 'the label [국제우편물류센터] is not in the [index]'

In [133]:
%matplotlib tk
plt.title(zoneName)
plt.scatter(df.longitude, df.latitude,  marker ='.', c='r')
plt.ylabel('Latitude')
plt.xlabel('Longitude')
#plt.legend()
plt.grid(True)
plt.show()
print("*"*10, "end   of job", "*"*11)

********** end   of job ***********

In [10]:
%matplotlib tk
plt.title('sample scatter')
plt.scatter(df.latitude, df.longitude, marker ='s', c='r')
plt.xlabel('Latitude')
plt.ylabel('Longitude')
#plt.legend()
plt.grid(True)
plt.show()

********** start of job ***********

In [22]:
df

     officeName   latitude   longitude
0         가남우체국  37.201739  127.545135
1         간성우체국  38.378994  128.467671
2     가정행정법원출장소  37.473862  127.030459
3      강릉교1동(취)  37.765646  128.891094
4       가평북면우체국  37.882173  127.547377
5       강릉교동우체국  37.759521  128.873899
6         가평우체국  37.831068  127.510743
7       강릉교리(취)  37.757755  128.886696
8       가평조종우체국  37.817511  127.348426
9      강릉노암동우체국  37.742839  128.898607
10      강릉동부(취)  37.769511  128.914231
11        강상우체국  37.482517  127.485183
12      강릉사천우체국  37.823306  128.848930
13        강천우체국  37.271142  127.715848
14     강릉옥천동(취)  37.758208  128.900352
15        강하우체국  37.496188  127.410790
16        강릉우체국  37.779421  128.904730
17     강화갑곳리(취)  37.743730  126.496037
18      강릉우편집중국  37.759521  128.873899
19        강화우체국  37.746005  126.487727
20     강릉입암동(취)  37.763302  128.915913
21        개군우체국  37.425862  127.536748
22     강릉중앙동우체국  37.750932  128.892987
23        검단우체국  37.594911  126.677775
24      강원지방우정청  37.328887  127.950465
25      경기광주우체국  37.427831  127.253167
26        거진우체국  38.444135  128.453872
27    경기광주태전(취)  37.392671  127.226110
28      경기남양우체국  37.209020  126.815329
29       경포대우체국  37.804689  128.904633
...         ...        ...         ...
1081  평택LG전자(취)  37.123618  127.089241
1082   평택대학교(취)  36.995020  127.133269
1083    평택서정(취)  37.074229  127.046302
1084   평택세교동(취)  36.999096  127.080901
1085    평택안정(취)  36.961970  127.047356
1086      평택우체국  36.994633  127.089957
1087   평택이충동(취)  37.064458  127.065466
1088   평택중앙동우체국  37.056610  127.055983
1089    평택하북(취)  37.110961  127.063656
1090   평택합정동우체국  36.989399  127.092814
1091    평택현화우체국  36.984698  126.920580
1092      포승우체국  36.980394  126.879368
1093    포천군내우체국  37.887527  127.218298
1094    포천선단(취)  37.854551  127.166404
1095    포천송우우체국  37.830506  127.148390
1096    포천신북우체국  37.942254  127.187591
1097    포천영중우체국  38.000681  127.243042
1098      포천우체국  37.899876  127.205360
1099    포천이동우체국  38.031540  127.367001
1100    포천일동우체국  37.945349  127.328067
1101    하남석해(취)  37.539189  127.210174
1102      하남우체국  37.500385  127.145164
1103   하남창우동우체국  37.539899  127.221137
1104      하성우체국  37.719302  126.628935
1105   한신대학교(취)  37.193585  127.023049
1106      현덕우체국  36.965665  126.919256
1107  화성동탄3동우체국  37.210003  127.058095
1108    화성와우(취)  37.214109  126.978094
1109      화성우체국  37.207571  127.078045
1110    화성향남우체국  37.130451  126.917030

[1111 rows x 3 columns]

In [3]:
df(latitude)

NameError: name 'latitude' is not defined

In [4]:
df.latitude[:]

0       37.201739
1       38.378994
2       37.473862
3       37.765646
4       37.882173
5       37.759521
6       37.831068
7       37.757755
8       37.817511
9       37.742839
10      37.769511
11      37.482517
12      37.823306
13      37.271142
14      37.758208
15      37.496188
16      37.779421
17      37.743730
18      37.759521
19      37.746005
20      37.763302
21      37.425862
22      37.750932
23      37.594911
24      37.328887
25      37.427831
26      38.444135
27      37.392671
28      37.209020
29      37.804689
          ...
1081    37.123618
1082    36.995020
1083    37.074229
1084    36.999096
1085    36.961970
1086    36.994633
1087    37.064458
1088    37.056610
1089    37.110961
1090    36.989399
1091    36.984698
1092    36.980394
1093    37.887527
1094    37.854551
1095    37.830506
1096    37.942254
1097    38.000681
1098    37.899876
1099    38.031540
1100    37.945349
1101    37.539189
1102    37.500385
1103    37.539899
1104    37.719302
1105    37.193585
1106    36.965665
1107    37.210003
1108    37.214109
1109    37.207571
1110    37.130451
Name: latitude, Length: 1111, dtype: float64