In [50]:
import numpy as np
import pandas as pd
from pandas import DataFrame
df_2 = DataFrame({'class_1': ['a', 'a', 'b', 'b', 'c'],
                     'var_1': np.arange(5),
                       'var_2': np.random.randn(5)},
                       index = ['r0', 'r1', 'r2', 'r3', 'r4'])
df_2

   class_1  var_1     var_2
r0       a      0  1.316963
r1       a      1 -1.485097
r2       b      2  0.110109
r3       b      3 -1.555180
r4       c      4  0.128889

In [51]:
df_2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [52]:
df_2.iloc[2:]

   class_1  var_1     var_2
r2       b      2  0.110109
r3       b      3 -1.555180
r4       c      4  0.128889

In [ ]:
df_2.loc['r2']

In [ ]:
df_2.columns

In [66]:
df_2[['class_1', 'var_1']]

   class_1  var_1
r0       a      0
r1       a      1
r2       b      2
r3       b      3
r4       c      4

In [67]:
df.min()['one']
df.min()

one       1.0
three    10.0
two       1.0
dtype: float64

In [68]:
df = pd.DataFrame({"gene_name": ['SLC45A1', 'NECAP2', 'CLIC4', 'ADC', 'AGBL4'] , "BoolCol": [False, True, False, True, True] },
       index=list("abcde"))

In [70]:
df

   BoolCol gene_name
a    False   SLC45A1
b     True    NECAP2
c    False     CLIC4
d     True       ADC
e     True     AGBL4

In [72]:
np.where(df["BoolCol"] == True)

(array([1, 3, 4], dtype=int64),)

In [103]:
df["BoolCol"]

a    False
b     True
c    False
d     True
e     True
Name: BoolCol, dtype: bool

In [77]:
df['gene_name']

a    SLC45A1
b     NECAP2
c      CLIC4
d        ADC
e      AGBL4
Name: gene_name, dtype: object

In [104]:
np.where(df['gene_name'] == 'CLIC4')

(array([2], dtype=int64),)

In [102]:
select_indices = list(np.where(df['gene_name'] == 'CLIC4'))
# type(select_indices)
# dir(select_indices)
print(select_indices[0])
len(select_indices)

[2]

1

In [100]:
df.index[select_indices[0]]

Index(['c'], dtype='object')