In [ ]:
import pandas as pd
import numpy as numpy
import sqlite3
 
conn = sqlite3.connect(r'C:\Users\Administrator\Documents\Github\hello-world\Study_8th_location\loc_post.db')
cursor = conn.cursor()

PDB = cursor.execute("" )

rows = cursor.fetchall()
for row in rows:
        print(row)

In [20]:
sql = "SELECT * FROM position where nearestBranch is null"
cursor.execute(sql)
rows = cursor.fetchall()

In [ ]:
for row in rows:
        print(row)

In [22]:
import pandas as pd

In [ ]:
df = pd.DataFrame()

In [53]:
startP = df[:1]
print(startP)
print(startP['officeName'])

   index officeName            address   latitude    ongitude nearestBranch
0      0      가남우체국  경기 여주시 가남읍 태평로 29  37.201739  127.545135          None
0    가남우체국
Name: officeName, dtype: object

In [58]:
for i in df[1:]:
#         distY = abs(startP['latitude'] - i['latitude'])
#         distX = abx(startP['longitue'] - i['longitude'])
#         dist = math.sqrt(distX**2 - distY**2)
#         print(dist)
    print(i)
#     print(df[i])

index
officeName
address
latitude
ongitude
nearestBranch

In [41]:
startP

   index officeName            address   latitude    ongitude nearestBranch
0      0      가남우체국  경기 여주시 가남읍 태평로 29  37.201739  127.545135          None

In [43]:
type(startP)

pandas.core.frame.DataFrame

In [36]:
startP = df[:1][officeName]

NameError: name 'officeName' is not defined