In [3]:
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print(df)
#

Empty DataFrame
Columns: []
Index: []

In [4]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
#
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)
#

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)
##

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [5]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [6]:
#
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)
#

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [7]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df) 
#

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [8]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [10]:
#
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

In [11]:
#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [12]:
#
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [17]:
#
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])
print(df['two'])
print(df)

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
a    1
b    2
c    3
d    4
Name: two, dtype: int64
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [19]:
###
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [20]:
# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [21]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

Our dataframe is:
   one  three  two
a  1.0   10.0    1
b  2.0   20.0    2
c  3.0   30.0    3
d  NaN    NaN    4

In [22]:
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print(df)

Deleting the first column using DEL function:
   three  two
a   10.0    1
b   20.0    2
c   30.0    3
d    NaN    4

In [24]:
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

Deleting another column using POP function:

KeyError: 'two'

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [28]:
dates = pd.date_range('20130101', periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01 -0.647085  0.761177  1.459416  0.610180
2013-01-02  0.384122  0.568952  0.001263  0.653900
2013-01-03 -2.511353 -0.624211 -0.851846 -0.366653
2013-01-04 -0.440455  0.001635 -1.214465  1.007607
2013-01-05  0.185615 -0.406887 -1.617871  2.326418
2013-01-06  0.638741 -0.797195 -1.019846  0.630649

In [30]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
# Viewing data
print(df2.dtypes)
print(dir(df2))

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
['A', 'B', 'C', 'D', 'E', 'F', 'T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_apply_broadcast', '_apply_empty_result', '_apply_raw', '_apply_standard', '_at', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_const', '_combine_frame', '_combine_match_columns', '_combine_match_index', '_combine_series', '_combine_series_infer', '_compare_frame', '_compare_frame_evaluate', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_ensure_valid_index', '_expand_axes', '_flex_compare_frame', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_numeric_data', '_get_valid_indices', '_get_value', '_get_values', '_getitem_array', '_getitem_column', '_getitem_frame', '_getitem_multilevel', '_getitem_slice', '_gotitem', '_iat', '_iget_item_cache', '_iloc', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_dict', '_init_mgr', '_init_ndarray', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_cython_func', '_is_datelike_mixed_type', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_loc', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_axis', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_frame_compat', '_unpickle_matrix_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'as_matrix', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'clip_lower', 'clip_upper', 'columns', 'combine', 'combine_first', 'compound', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_dict', 'from_items', 'from_records', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'is_copy', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'ix', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_msgpack', 'to_panel', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sparse', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']

In [33]:
print(df.head())

                   A         B         C         D
2013-01-01 -0.647085  0.761177  1.459416  0.610180
2013-01-02  0.384122  0.568952  0.001263  0.653900
2013-01-03 -2.511353 -0.624211 -0.851846 -0.366653
2013-01-04 -0.440455  0.001635 -1.214465  1.007607
2013-01-05  0.185615 -0.406887 -1.617871  2.326418

In [34]:
print(df.tail(3))

                   A         B         C         D
2013-01-04 -0.440455  0.001635 -1.214465  1.007607
2013-01-05  0.185615 -0.406887 -1.617871  2.326418
2013-01-06  0.638741 -0.797195 -1.019846  0.630649

In [35]:
print(df.index)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [36]:
print(df.values)

[[-6.47085297e-01  7.61176715e-01  1.45941644e+00  6.10179566e-01]
 [ 3.84122249e-01  5.68952210e-01  1.26319921e-03  6.53900054e-01]
 [-2.51135284e+00 -6.24210905e-01 -8.51845695e-01 -3.66653236e-01]
 [-4.40454746e-01  1.63486064e-03 -1.21446503e+00  1.00760749e+00]
 [ 1.85614530e-01 -4.06886750e-01 -1.61787099e+00  2.32641751e+00]
 [ 6.38740506e-01 -7.97194741e-01 -1.01984564e+00  6.30649261e-01]]

In [37]:
print(df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.398403 -0.082755 -0.540558  0.810350
std    1.145186  0.640738  1.116677  0.874019
min   -2.511353 -0.797195 -1.617871 -0.366653
25%   -0.595428 -0.569880 -1.165810  0.615297
50%   -0.127420 -0.202626 -0.935846  0.642275
75%    0.334495  0.427123 -0.212014  0.919181
max    0.638741  0.761177  1.459416  2.326418

In [38]:
print(df.head())

                   A         B         C         D
2013-01-01 -0.647085  0.761177  1.459416  0.610180
2013-01-02  0.384122  0.568952  0.001263  0.653900
2013-01-03 -2.511353 -0.624211 -0.851846 -0.366653
2013-01-04 -0.440455  0.001635 -1.214465  1.007607
2013-01-05  0.185615 -0.406887 -1.617871  2.326418

In [39]:
print(df.tail(3))

                   A         B         C         D
2013-01-04 -0.440455  0.001635 -1.214465  1.007607
2013-01-05  0.185615 -0.406887 -1.617871  2.326418
2013-01-06  0.638741 -0.797195 -1.019846  0.630649

In [40]:
print(df.index)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [47]:
print(df.values[0])
print()
print(df.values)

[-0.6470853   0.76117672  1.45941644  0.61017957]
9
[[-6.47085297e-01  7.61176715e-01  1.45941644e+00  6.10179566e-01]
 [ 3.84122249e-01  5.68952210e-01  1.26319921e-03  6.53900054e-01]
 [-2.51135284e+00 -6.24210905e-01 -8.51845695e-01 -3.66653236e-01]
 [-4.40454746e-01  1.63486064e-03 -1.21446503e+00  1.00760749e+00]
 [ 1.85614530e-01 -4.06886750e-01 -1.61787099e+00  2.32641751e+00]
 [ 6.38740506e-01 -7.97194741e-01 -1.01984564e+00  6.30649261e-01]]

In [48]:
print(df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.398403 -0.082755 -0.540558  0.810350
std    1.145186  0.640738  1.116677  0.874019
min   -2.511353 -0.797195 -1.617871 -0.366653
25%   -0.595428 -0.569880 -1.165810  0.615297
50%   -0.127420 -0.202626 -0.935846  0.642275
75%    0.334495  0.427123 -0.212014  0.919181
max    0.638741  0.761177  1.459416  2.326418

In [49]:
print(df.T)

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.647085    0.384122   -2.511353   -0.440455    0.185615    0.638741
B    0.761177    0.568952   -0.624211    0.001635   -0.406887   -0.797195
C    1.459416    0.001263   -0.851846   -1.214465   -1.617871   -1.019846
D    0.610180    0.653900   -0.366653    1.007607    2.326418    0.630649

In [50]:
print(df.sort_index(axis=1, ascending=False))

                   D         C         B         A
2013-01-01  0.610180  1.459416  0.761177 -0.647085
2013-01-02  0.653900  0.001263  0.568952  0.384122
2013-01-03 -0.366653 -0.851846 -0.624211 -2.511353
2013-01-04  1.007607 -1.214465  0.001635 -0.440455
2013-01-05  2.326418 -1.617871 -0.406887  0.185615
2013-01-06  0.630649 -1.019846 -0.797195  0.638741

In [51]:
print(df.sort_values(by='B'))

                   A         B         C         D
2013-01-06  0.638741 -0.797195 -1.019846  0.630649
2013-01-03 -2.511353 -0.624211 -0.851846 -0.366653
2013-01-05  0.185615 -0.406887 -1.617871  2.326418
2013-01-04 -0.440455  0.001635 -1.214465  1.007607
2013-01-02  0.384122  0.568952  0.001263  0.653900
2013-01-01 -0.647085  0.761177  1.459416  0.610180

In [52]:
# Selection
print(df['A'])

2013-01-01   -0.647085
2013-01-02    0.384122
2013-01-03   -2.511353
2013-01-04   -0.440455
2013-01-05    0.185615
2013-01-06    0.638741
Freq: D, Name: A, dtype: float64

In [53]:
print(type(df['A']))

<class 'pandas.core.series.Series'>

In [54]:
print(df[0:3])

                   A         B         C         D
2013-01-01 -0.647085  0.761177  1.459416  0.610180
2013-01-02  0.384122  0.568952  0.001263  0.653900
2013-01-03 -2.511353 -0.624211 -0.851846 -0.366653

In [55]:
print(df['20130102':'20130104'])

                   A         B         C         D
2013-01-02  0.384122  0.568952  0.001263  0.653900
2013-01-03 -2.511353 -0.624211 -0.851846 -0.366653
2013-01-04 -0.440455  0.001635 -1.214465  1.007607

In [58]:
print(df.loc[dates[0]])
print("="*10)
print(df.loc)

A   -0.647085
B    0.761177
C    1.459416
D    0.610180
Name: 2013-01-01 00:00:00, dtype: float64
==========
<pandas.core.indexing._LocIndexer object at 0x00000195362CFB70>

In [60]:
print(df.loc['20130102'])
print("="*10)
print(df.loc['2013-01-02'])
print("="*10)
print(df.mean())

A    0.384122
B    0.568952
C    0.001263
D    0.653900
Name: 2013-01-02 00:00:00, dtype: float64
==========
A    0.384122
B    0.568952
C    0.001263
D    0.653900
Name: 2013-01-02 00:00:00, dtype: float64
==========
A   -0.398403
B   -0.082755
C   -0.540558
D    0.810350
dtype: float64